.header {
  padding: 1rem 0;
  width: 100%;
  background-color: #D36B00;
  border-bottom: 2px solid #fff;
}

#nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

#nav h2 {
  color: #fff;
  letter-spacing: 1px;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.column {
  width: 300px;
  margin: 20px;
}
.column header {
  color: #fff;
  background-color: #D36B00;
  padding: 0 0.6rem;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}
.column header .btn-create-todo {
  background: transparent;
  font-size: 1rem;
  padding: 0;
  color: #fff;
  cursor: pointer;
}
.column .header-todo-column {
  background-color: #aaa;
}
.column .header-progress {
  background-color: #3876BF;
}
.column .header-done {
  background-color: #1f831f;
}
.column .header-arquive {
  background-color: #d3a21a;
}

.card-todo {
  background-color: #e7e7e7;
  padding: 1rem;
  margin: 10px auto;
  font-size: 0.9rem;
  position: relative;
}
.card-todo p {
  margin-bottom: 0.5rem;
  font-weight: bold;
}
.card-todo .date-todo {
  color: #333;
  font-weight: 400;
}
.card-todo .priority-todo {
  font-weight: 400;
  text-align: center;
  font-size: 0.9rem;
  width: 50px;
  border-radius: 4px;
  padding: 0.2rem 0.5rem;
  color: #fff;
}
.card-todo .todo {
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
}
.card-todo .high {
  background-color: #bd2222;
}
.card-todo .average {
  background-color: #d3a21a;
}
.card-todo .low {
  background-color: #18b418;
}
.card-todo .date-past {
  color: #f33636;
  font-weight: bold;
}
.card-todo .trash {
  position: absolute;
  top: 15px;
  left: 90%;
  font-size: 1rem;
  margin-bottom: 0.4rem;
  cursor: pointer;
  color: #333;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease-in-out;
}
.modal-container .box-modal {
  background-color: #e7e7e7;
  padding: 2rem;
  width: 500px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.modal-show {
  opacity: 1;
  pointer-events: auto;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  position: relative;
}
.title span {
  font-size: 1.2rem;
  color: #333;
  letter-spacing: 1px;
}
.title span::after {
  content: "";
  position: absolute;
  background-color: #3876BF;
  width: 50px;
  height: 2px;
  bottom: 0.5rem;
  left: 1px;
}
.title button {
  border: 0;
  background-color: transparent;
  font-size: 1.6rem;
  color: #f33636;
  cursor: pointer;
  font-weight: bold;
}

.form-group {
  margin-bottom: 0.9rem;
  display: flex;
  flex-direction: column;
}
.form-group input,
.form-group select {
  border: 0;
  border-bottom: 1px solid #333;
  padding: 0.6rem 0;
  background: transparent;
}

.btn-modal {
  float: right;
  background-color: #3876BF;
  color: #fff;
}

#btn-add-todo {
  display: block;
}

#btn-edit-todo {
  display: none;
}

.hidden {
  display: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

input:focus,
select:focus {
  outline: none;
}

body {
  background-color: #2b2e33;
  position: relative;
}

button {
  padding: 0.45rem 0.5rem;
  border: 0;
  cursor: pointer;
  border-radius: 4px;
}/*# sourceMappingURL=styles.css.map */