const showCardTodo = () => {
    //Pegando o elemento Pai 
    const cardTodo = document.createElement('div')
    cardTodo.classList.add('card-todo')
    cardTodo.style.display = 'block'

    //Criando a data em que o todo foi criado
    const dateTodoSpan = document.createElement('span')
    dateTodoSpan.classList.add('date-todo')
    dateTodoSpan.innerText = deadlineInput.value

    const dateTodo = document.createElement('p')
    dateTodo.textContent = 'Prazo: '
    dateTodo.appendChild(dateTodoSpan)
    
    //Criando o todo
    const todo = document.createElement('p')
    todo.classList.add('todo')
    todo.innerText = todoInput.value


    //Criando a prioridade
    const prioritySpan = document.createElement('span')
    prioritySpan.classList.add('priority-todo')
    prioritySpan.innerText = priorityInput.value

    const priority = document.createElement('p')
    priority.textContent = 'Prioridade: '
    priority.appendChild(prioritySpan)

    switch(priorityInput.value) {

        case 'Alta':
            prioritySpan.classList.add('high');
            break;
        case 'Média':
            prioritySpan.classList.add('average') ;
            break;
        case 'Baixa':
            prioritySpan.classList.add('low');
            break;
        default:          
    }

    cardTodo.appendChild(dateTodo)
    cardTodo.appendChild(todo)
    cardTodo.appendChild(priority)

    column.appendChild(cardTodo)
    
}