$purple: #845ec2;
$white: #fff;
$color-white: #f2f2f2;
$green: #008F7A;
$green-dark: #008E9B;
$green-ligth: #2AAF74;
$yellow: #FFC75F;
$orange: #FF8066;
$pink: #BA3CAF;
$blue-ligth: #83A2FF;
$blue-dark: #3876BF;
$gray: #aaa;
$gray-ligth: #d8d7d7;
$black: #333;
$green-play: #05a105;
$green-category: #18b418;
$red-del: #f33636;
$red-category: #8d2020;
$yellow-category: #d3a21a;
$font-1px: 1px;

$font-todo: 'Roboto', sans-serif;