$bg-color: #2b2e33;
$bg-modal: #e7e7e7;
$bg-header: #D36B00;;

$color-white: #e7e7e7;
$color-black: #333;

$purple: #845ec2;
$white: #fff;
$green: #008F7A;
$green-dark: #008E9B;
$green-ligth: #2AAF74;
$yellow: #FFC75F;
$orange: #FF8066;
$strong-orange: #FF6000; 
$pink: #BA3CAF; 
$blue-ligth: #83A2FF;
$blue-dark: #3876BF;
$gray: #aaa;
$gray-ligth: #d8d7d7;
$gray-dark: #424242;

$green-done: #1f831f;
$red-del: #f33636;

$green-category: #18b418;
$red-category: #bd2222;
$yellow-category: #d3a21a;

$font-todo: 'Roboto', sans-serif;