.header {
    padding: 1rem 0;
    width: 100%;
    background-color: $bg-header;
    border-bottom: 2px solid $white;
}

#nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav h2 {
    color: $white;
    letter-spacing: 1px;
    text-align: center;
}


.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.column {
    width: 300px;
    margin: 20px;

    header {
        color: $white;
        background-color: $bg-header;
        padding: 0 .6rem;
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 600;

        .btn-create-todo {
            background: transparent;
            font-size: 1rem;
            padding: 0;
            color: $white;
            cursor: pointer;
        }

    }

    .header-todo-column {
        background-color: $gray;
    }

    .header-progress {
        background-color: $blue-dark;
    }

    .header-done {
        background-color: $green-done;
    }

    .header-arquive {
        background-color: $yellow-category;
    }
    
}



.card-todo {
    background-color: $color-white;
    padding: 1rem;
    margin: 10px auto;
    font-size: 0.9rem;
    position: relative;

    p {
        margin-bottom: .5rem;
        font-weight: bold;
    }

    .date-todo {
        color: $color-black;
        font-weight: 400;
    }

    .priority-todo {
        font-weight: 400;
        text-align: center;
        font-size: .9rem;
        width: 50px;
        border-radius: 4px;
        padding: .2rem .5rem;
        color: $white;
    }

    .todo {
        color: $color-black;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 400;
        letter-spacing: 1px;
    }

    
    .high {
        background-color: $red-category;
    }

    .average {
        background-color:  $yellow-category;
    }

    .low {
        background-color: $green-category;
    }

    .date-past {
        color: $red-del;
        font-weight: bold;
    }


    .trash {
        position: absolute;
        top: 15px;
        left: 90%;
        font-size: 1rem;
        margin-bottom: .4rem;
        cursor: pointer;
        color: $color-black;
    }
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: .3s ease-in-out;

    .box-modal {
        background-color: $bg-modal;
        padding: 2rem;
        width: 500px;
        border-radius: 4px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
}

.modal-show {
    opacity: 1;
    pointer-events: auto;
}


.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    position: relative;


    span {
        font-size: 1.2rem;
        color: $color-black;
        letter-spacing: 1px;
    }

    span::after {
        content: '';
        position: absolute;
        background-color: $blue-dark;
        width: 50px;
        height: 2px;
        bottom: .5rem;
        left: 1px;

    }

    button {
        border: 0;
        background-color: transparent;
        font-size: 1.6rem;
        color: $red-del;
        cursor: pointer;
        font-weight: bold;
    }


}

.form-group {
    margin-bottom: .9rem;
    display: flex;
    flex-direction: column;

    input, 
    select {
        border: 0;
        border-bottom: 1px solid $color-black;
        padding: .6rem 0;
        background: transparent;
    }
}

.btn-modal {
    float: right;
    background-color: $blue-dark;
    color: $white;
}

#btn-add-todo {
    display: block;
}

#btn-edit-todo {
    display: none;
}

.hidden {
    display: none;
}








